<<%= components %>::Crumbs @<%= s %>={{this.<%= s %>}}
  @title={{t "<%= translations %>.edit.crumb"}} />

<Ui::Header as
  |header|>
  <header.Title @text={{concat (t "<%= translations %>.edit.title") ": " (if this.loading "" this.<%= s %>.describe)}} />
</Ui::Header>

{{#with (changeset this.<%= s %> this.<%= sUpper %>Validations) as |changeset|}}

  <Ui::Form class="px-6 lg:px-12 mb-4
flex flex-col md:flex-row flex-1
space-y-4 md:space-x-4 md:space-y-0"
    @onSubmit={{perform this.save changeset}}
    @afterSubmit={{perform this.afterSave changeset}}
    @changeset={{changeset}}
    as
    |form|>

    <section class="flex flex-col space-y-4 w-full">

      <Ui::Card class="flex-auto">

        <%= formComponent %>

      </Ui::Card>

      <Ui::Card>

        <Ui::Form::Footer class="p-6"
          @form={{form}}
          @changeset={{changeset}}
          @onCancel={{fn this.cancel changeset}}
          @serverErrors={{this.serverErrors}} />

      </Ui::Card>

    </section>

    <aside class="flex flex-col space-y-4 w-68">

      <Ui::Card @title="Actions"
        @name="actions"
        class="flex-1">

        <<%= components %>::Actions @actions={{this.sidebarActions}}
          class="px-2 py-4" />

      </Ui::Card>

    </aside>

  </Ui::Form>

{{/with}}