<div ...attributes>
  
  <Ui::Text::h3 @size="2xl" @loading={{@loading}} class="mb-4 font-medium text-gray-900 dark:text-gray-100">
    {{t "archive.title"}}
  </Ui::Text::h3>

  <div class="mt-2 max-w-xl text-lg text-gray-500 prose">
    {{yield}}
  </div>

  <div class="mt-5">
    <Ui::Button type="button"
      @name="archive"
      @size="xl"
      @style="primary"
      @color="danger"
      @task={{@task}}
      @loading={{@loading}}
      class="min-w-48"
      {{on "click" @onDelete}}>
      {{@button}}
    </Ui::Button>
  </div>

</div>