{{#if this.isLoading}}

  <div class={{this.buttonClasses}} ...attributes>
    {{#if @leadingIcon}}
      <div class={{this.leadingIconClasses}}>
        {{svg-jar @leadingIcon}}
      </div>
    {{/if}}

    {{yield}}
    {{@text}}

    {{#if @trailingIcon}}
      <div class={{this.trailingIconClasses}}>
        {{svg-jar @trailingIcon}}
      </div>
    {{/if}}
  </div>

{{else}}

  <button 
    data-test-button={{@name}}
    type={{this.type}}
    class={{this.buttonClasses}}
    disabled={{this.isDisabled}}
    {{on "click" this.onClick}}
    ...attributes>
    
    {{#if @leadingIcon}}
      <div class={{this.leadingIconClasses}}>
        {{svg-jar @leadingIcon}}
      </div>
    {{/if}}

    <div class={{this.busyIconClasses}}>
      {{svg-jar this.busyIcon}}
    </div>
    <div class="transition-opacity ease-in-out duration-300 truncate {{if this.isBusy "opacity-0" "opacity-100"}}">
      {{yield}}
      {{@text}}
    </div>

    {{#if @trailingIcon}}
      <div class={{this.trailingIconClasses}}>
        {{svg-jar @trailingIcon}}
      </div>
    {{/if}}

    {{#if @title}}
      <EmberTooltip>{{@title}}</EmberTooltip>
    {{/if}}

  </button>

{{/if}}
