<div class="hidden lg:flex lg:flex-shrink-0">
  <div class="flex flex-col w-48 xl:w-64 bg-white"
    data-test-sidebar="desktop">
    <div class="flex flex-col h-0 flex-1">

      <div class="flex-1 flex flex-col pb-4 overflow-y-auto">

        {{!-- Main Logo --}}
        <div class="flex flex-col items-center justify-center flex-shrink-0 p-4 bg-primary-500 h-18 w-full">
          {{svg-jar "logo" class="w-24 xl:w-full text-white"}}
        </div>

        {{!-- Sidebar component, swap this element with another sidebar if you like --}}
        <nav class="flex-1 p-4 bg-white"
          data-test-nav="desktop">

          {{#each @items as |item|}}

            {{#if item.enabled}}

              {{#if item.children}}

                <Ui::SideNav::Group @title={{t item.label}}
                  data-test-nav-item={{item.label}}
                  @activeWhen={{item.activeWhen}}
                  @icon={{t item.icon}}>

                  {{#each item.children as |child|}}

                    {{#if child.route}}
                      <Ui::SideNav::Item @route={{child.route}}
                        @icon={{t child.icon}}
                        @activeWhen={{child.activeWhen}}
                        data-test-nav-item={{child.label}}>
                        {{t child.label}}
                      </Ui::SideNav::Item>
                    {{else}}
                      <Ui::SideNav::Item @href={{child.href}}
                        @icon={{t child.icon}}
                        @activeWhen={{child.activeWhen}}
                        data-test-nav-item={{child.label}}>
                        {{t child.label}}
                      </Ui::SideNav::Item>
                    {{/if}}

                  {{/each}}

                </Ui::SideNav::Group>

              {{else if item.route}}
                <Ui::SideNav::Item @route={{item.route}}
                  @icon={{t item.icon}}
                  @activeWhen={{item.activeWhen}}
                  data-test-nav-item={{item.label}}>
                  {{t item.label}}
                </Ui::SideNav::Item>
              {{else}}
                <Ui::SideNav::Item @href={{item.href}}
                  @icon={{t item.icon}}
                  @activeWhen={{item.activeWhen}}
                  data-test-nav-item={{item.label}}>
                  {{t item.label}}
                </Ui::SideNav::Item>
              {{/if}}

            {{/if}}

          {{/each}}

        </nav>

      </div>

      {{!-- User Menu --}}
      <Ui::SideNav::User @authUser={{this.authUser}}>
        <Ui::SideNav::Item @action={{@logoutAction}}
          @icon="nav.logout"
          class="pb-4"
          data-test-user-menu-item="logout">
          {{t 'nav.logout'}}
        </Ui::SideNav::Item>
      </Ui::SideNav::User>

    </div>
  </div>
</div>