<EmberWormhole @to="slideover-wormhole">

  <div class="fixed inset-0 overflow-hidden pointer-events-none z-10"
    data-test-slide-over={{if @name @name true}}
    data-test-slide-over-state={{if @isShowing "visible" "hidden"}}>

    <div class="absolute inset-0 overflow-hidden">

      <section class="absolute inset-y-0 right-0 pl-10 max-w-full flex">

        <div class="
        pointer-events-auto w-screen
        max-w-md md:w-96
        transition ease-in-out duration-500 sm:duration-700
        transform {{if @isShowing "translate-x-0" "translate-x-full"}}
        ">

          <div class="h-full flex flex-col bg-white shadow-xl overflow-y-scroll">

            <div class="p-6 flex justify-end">

              <div {{on "click" this.close}}
                data-test-slide-over-close={{if @name @name true}}
                role="button">
                {{svg-jar "x" class="h-6 w-6 text-black cursor-pointer"}}
              </div>

            </div>

            <div class="relative flex-1 px-4 sm:px-6">

              <div class="absolute inset-0" ...attributes>
                {{yield}}
              </div>

            </div>

          </div>

        </div>

      </section>

    </div>

  </div>

</EmberWormhole>