<div data-test-splash-notice={{if @name @name true}}
  class="text-gray-600 dark:text-gray-400
  flex flex-col items-center justify-center
  space-y-2 p-6
  "
  ...attributes>

  {{#if @icon}}
  <div class="flex items-center justify-center w-24 h-24 md:w-32 md:h-32 rounded-full {{this.iconClasses}}">
    {{svg-jar @icon data-test-splash-notice-icon=(if @name @name true) class="w-16 h-16 md:w-24 md:h-24"}}
  </div>
  {{/if}}

  {{#if @title}}
  <Ui::Text::H1 
    @size="lg" 
    @loading={{@loading}}
    class="font-bold max-w-md"
    data-test-splash-notice-title={{if @name @name true}}
  >{{@title}}</Ui::Text::H1>
  {{/if}}

  {{#if @text}}
    <Ui::Text::P 
      @loading={{@loading}}
      class="font-light max-w-md"
      data-test-splash-notice-text={{if @name @name true}}
    >{{@text}}</Ui::Text::P>
  {{/if}}
  
  {{yield}}

</div>