
{{#if @loading}}

  <div class="h-4 w-4 border bg-gray-200 dark:bg-gray-800 border-gray-200 dark:border-gray-800 rounded"></div>
 
{{else}}

  <Input
    @type="checkbox" 
    value={{@value}}
    @checked={{@checked}}
    class="h-4 w-4 rounded bg-white dark:bg-black {{this.borderClasses}} {{this.focusClasses}} {{this.textClasses}} {{this.disabledClasses}}"
    ...attributes
  />

{{/if}}