{{#if @loading}}

  <div class="
    relative rounded-md border 
    border-gray-200 dark:border-gray-800 
    bg-gray-200 dark:bg-gray-800 text-transparent 
    form-input sm:text-sm py-2 px-3 
    block w-full
  "
    ...attributes
  >
    &nbsp;
  </div>

{{else}}

  <div
    aria-describedby={{@aria-describedby}}
    data-test-dropdown={{@name}}
    ...attributes
  >
    <PowerSelect 
      @allowClear={{@allowClear}}
      @ariaDescribedBy={{@aria-describedby}}
      @ariaInvalid={{@invalid}}
      @disabled={{@disabled}}
      @options={{@options}}
      @onChange={{@onChange}}
      @searchEnabled={{@searchEnabled}}
      @searchField={{@searchField}}
      @searchMessage={{@searchMessage}}
      @searchPlaceholder={{@searchPlaceholder}}
      @selected={{@selected}}
      @placeholder={{@placeholder}}
      @search={{@search}}
      @loadingMessage={{@loadingMessage}}
      @dropdownClass={{concat "ember-power-select-dropdown-" @name}}
      @renderInPlace={{@renderInPlace}}
      as
      |option|>
      {{yield option}}
    </PowerSelect>
  </div>

{{/if}}