
{{#if @loading}}

  <div class="
    relative rounded-md border 
    border-gray-200 dark:border-gray-800 
    bg-gray-200 dark:bg-gray-800 text-transparent 
    form-input sm:text-sm py-2 px-3 
    block w-full
  "
    ...attributes>
    &nbsp;
  </div>

{{else}}

<div class="relative shadow-sm">
  {{#if @leadingIcon}}
    <div class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none">
      {{svg-jar @leadingIcon class=(concat "h-5 w-5 text-" this.iconColor "-400 dark:text-" this.iconColor "-600")}}
    </div>
  {{/if}}

  <Input data-test-input={{@name}}
    class="form-input block w-full
    bg-white dark:bg-black
    transition duration-150 ease-in-out
    sm:text-sm sm:leading-5
    {{this.disabledClasses}}
    {{this.focusClasses}}
    {{this.borderClasses}}
    {{this.textClasses}}
    {{this.iconPadding}}"
    id={{@name}}
    name={{@name}}
    @type={{@type}}
    @value={{@value}}
    {{on "input" this.onChange}}
    ...attributes />

  {{#if this.trailingIcon}}
    <div class="absolute inset-y-0 right-0 pr-3 flex items-center pointer-events-none">
      {{svg-jar this.trailingIcon class=(concat "h-5 w-5 text-" this.iconColor "-400 dark:text-" this.iconColor "-600")}}
    </div>
  {{/if}}
</div>

{{/if}}