<div class="relative rounded-md shadow-sm">
  {{#if @leadingIcon}}
    <div class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none">
      {{svg-jar @leadingIcon class=(concat "h-5 w-5 text-" this.iconColor "-400")}}
    </div>
  {{/if}}

  <Textarea data-test-input={{@name}}
    class="form-input block w-full
    border border-{{this.borderColor}}-300
    rounded-md shadow-sm
    focus:outline-none focus:shadow-outline-{{this.focusColor}} focus:border-{{this.focusColor}}-300
    transition duration-150 ease-in-out
    text-{{this.textColor}} {{this.placeholderColor}}
    sm:text-sm sm:leading-5
    {{this.iconPadding}}
    disabled:bg-gray-100"
    id={{@name}}
    name={{@name}}
    @type={{@type}}
    @value={{@value}}
    {{on "input" this.onChange}}
    ...attributes />

  {{#if this.trailingIcon}}
    <div class="absolute inset-y-0 right-0 pr-3 flex items-center pointer-events-none">
      {{svg-jar this.trailingIcon class=(concat "h-5 w-5 text-" this.iconColor "-400")}}
    </div>
  {{/if}}
</div>