<<%= classSingular %>::Crumbs @<%= camelSingular %>={{this.<%= camelSingular %>}}
  @title={{t "<%= dasherizedSingular %>.archive.crumb"}} />

<Ui::Header as
  |header|>
  <header.Title @text={{concat (t "<%= dasherizedSingular %>.archive.title") ": " (if this.loading "" this.<%= camelSingular %>.describe)}} />
</Ui::Header>

<Ui::Form class="px-6 lg:px-12 mb-4
flex flex-col md:flex-row flex-1
space-y-4 md:space-x-4 md:space-y-0"
  as
  |form|>

  <section class="flex flex-col space-y-4 w-full">

    <Ui::Card>
      <Ui::Archive class="px-4 py-5 sm:p-6"
        @form={{form}}
        @loading={{this.loading}}
        @onDelete={{perform this.archive this.<%= camelSingular %>}}
        @button={{t "<%= dasherizedSingular %>.archive.button"}}>
        {{t "<%= dasherizedSingular %>.archive.body" htmlSafe=true name=this.<%= camelSingular %>.describe}}
      </Ui::Archive>
    </Ui::Card>

  </section>

  <aside class="flex flex-col space-y-4 w-68">

    <Ui::Card @title="Actions"
      @name="actions"
      class="flex-1">

      <<%= classSingular %>::Actions @actions={{this.sidebarActions}}
        class="px-2 py-4" />

    </Ui::Card>

  </aside>

</Ui::Form>