<<%= classSingular %>::Crumbs @<%= camelSingular %>={{this.<%= camelSingular %>}}
  @title={{t "<%= dasherizedSingular %>.view.crumb"}} />

<Ui::Header as
  |header|>
  <header.Title @text={{concat (t "<%= dasherizedSingular %>.<%= manyDasherizedPlural %>.title") ": " (if this.loading "" this.<%= camelSingular %>.describe)}} />

  <header.Actions as
    |actions|>

    <Ui::Dropdown @name="sort"
      as
      |dropdown|>
      <actions.Action {{on "click" dropdown.toggle}}
        @name="sort"
        @icon="switch-vertical">{{t "<%= dasherizedSingular %>.<%= manyDasherizedPlural %>.actions.sort.label"}}</actions.Action>
      <dropdown.Menu as
        |menu|>
        {{#each this.sortOptions as |option|}}
          <menu.Item @name={{option.value}}
            @text={{t option.label}}
            @trailingIcon={{sort-menu-icon this.sort option.value}}
            {{on "click" (fn this.sortBy option.value)}} />
        {{/each}}
      </dropdown.Menu>
    </Ui::Dropdown>

    <actions.Action @name="filter"
      @icon="filter"
      {{on "click" this.toggleFilter}}>{{t "<%= dasherizedSingular %>.<%= manyDasherizedPlural %>.actions.filter"}}</actions.Action>

    <actions.Action @name="export"
      @icon="download"
      {{on "click" this.toggleExport}}>{{t "<%= dasherizedSingular %>.<%= manyDasherizedPlural %>.actions.export.label"}}</actions.Action>

    <actions.Search @name="search"
      @icon="search"
      @value={{this.search}}>{{t "<%= dasherizedSingular %>.<%= manyDasherizedPlural %>.actions.search"}}</actions.Search>

  </header.Actions>

</Ui::Header>

<div class="px-6 lg:px-12 mb-4
flex flex-col md:flex-row flex-1
space-y-4 md:space-x-4 md:space-y-0">

    <section class="px-6 lg:px-12 flex flex-col space-y-4 mb-4 flex-1">

    <Ui::Card>
        <Ui::Pagination @name="top"
        @size={{this.size}}
        @page={{this.page}}
        @total={{this.meta.total}}
        @onChange={{this.paginateResults}} />
    </Ui::Card>

    <div class="flex flex-col items-end">
        <LinkTo @route="<%= routeNamePrefix %><%= manyRouteNamePlural %>.new"
          @query={{hash <%= camelSingular %>=this.<%= camelSingular %>.id}}>
            <Ui::Button class="w-full sm:w-48"
                @color="primary"
                @style="secondary"
                @size="md"
                @trailingIcon="plus">{{t "<%= dasherizedSingular %>.<%=manyCamelPlural%>.actions.new"}}
            </Ui::Button>
        </LinkTo>
    </div>

    <Ui::Card class="flex-auto">
        <<%= manyClassSingular %>::List @loading={{this.loading}}
        @<%= manyCamelPlural %>={{this.<%= manyCamelPlural %>}}
        @actions={{this.<%= manyCamelSingular %>Actions}}
        @filtered={{this.filtered}}
        @size={{this.size}}
        @clearFilter={{this.clearFilter}} />
    </Ui::Card>

    <Ui::Card>
        <Ui::Pagination @name="bottom"
        @size={{this.size}}
        @page={{this.page}}
        @total={{this.meta.total}}
        @onChange={{this.paginateResults}} />
    </Ui::Card>

  </section>

  <aside class="flex flex-col space-y-4 w-68">

    <Ui::Card @title="Actions"
      @name="actions"
      class="flex-1">

      <<%= classSingular %>::Actions @actions={{this.sidebarActions}}
        class="px-2 py-4" />

    </Ui::Card>

  </aside>

</div>

<Ui::Modal @name="export"
  @isShowing={{this.showExport}}
  @icon="download"
  @title={{t "<%= dasherizedSingular %>.<%= manyDasherizedPlural %>.actions.export.title"}}
  @button={{t "<%= dasherizedSingular %>.<%= manyDasherizedPlural %>.actions.export.button"}}
  @onConfirm={{this.export}}
  @onCancel={{this.toggleExport}}>
  <p>{{t "<%= dasherizedSingular %>.<%= manyDasherizedPlural %>.actions.export.text"}}</p>
</Ui::Modal>

<Ui::SlideOver @name="filter"
  @isShowing={{this.showFilter}}
  @onClose={{this.toggleFilter}}>
  <div class="px-6 py-3">
    <<%= manyClassSingular %>::Filter @filter={{this.filter}}
      @onFilter={{this.filterResults}}
      @onClear={{this.clearFilter}} />
  </div>
</Ui::SlideOver>