<label class="relative flex items-start">
    <div class="flex items-center h-5">

        <Ui::Form::Checkbox @checked={{@checked}} @loading={{@loading}}/>
      
    </div>
    <div class="ml-3 text-sm">

        {{#if @label}}
            <div class="font-medium text-gray-700 dark:text-gray-300">
                <Ui::Text @loading={{@loading}}>{{@label}}</Ui::Text>
            </div>
        {{/if}}

        {{#if @tip}}
            <p class="font-light text-gray-500">
                <Ui::Text @loading={{@loading}}>{{@tip}}</Ui::Text>
            </p>
        {{/if}}    
    </div>
  </label>