<<%= components %>::Crumbs />

<Ui::Header as
  |header|>
  <header.Title @text={{t "<%= translations %>.list.title"}} />
  <header.Actions as
    |actions|>

    <Ui::Dropdown @name="sort"
      as
      |dropdown|>
      <actions.Action {{on "click" dropdown.toggle}}
        @name="sort"
        @icon="switch-vertical">{{t "<%= translations %>.list.actions.sort.label"}}</actions.Action>
      <dropdown.Menu as
        |menu|>
        {{#each this.sortOptions as |option|}}
          <menu.Item @name={{option.value}}
            @text={{t option.label}}
            @trailingIcon={{sort-menu-icon this.sort option.value}}
            {{on "click" (fn this.sortBy option.value)}} />
        {{/each}}
      </dropdown.Menu>
    </Ui::Dropdown>

    <actions.Action @name="filter"
      @icon="filter"
      {{on "click" this.toggleFilter}}>{{t "<%= translations %>.list.actions.filter"}}</actions.Action>

    <actions.Action @name="export"
      @icon="download"
      {{on "click" this.toggleExport}}>{{t "<%= translations %>.list.actions.export.label"}}</actions.Action>

    <actions.Search @name="search"
      @icon="search"
      @value={{this.search}}>{{t "<%= translations %>.list.actions.search"}}</actions.Search>

  </header.Actions>
</Ui::Header>

<section class="px-6 lg:px-12 flex flex-col space-y-4 mb-4 flex-1">

  <Ui::Card>
    <Ui::Pagination @name="top"
      @size={{this.size}}
      @page={{this.page}}
      @total={{this.meta.total}}
      @onChange={{this.paginateResults}} />
  </Ui::Card>

  <div class="flex flex-col items-end">
    <LinkTo @route="<%= pRoute %>.new">
      <Ui::Button class="w-full sm:w-48"
        @color="primary"
        @style="secondary"
        @size="md"
        @trailingIcon="plus">{{t "<%= translations %>.list.actions.new"}}
      </Ui::Button>
    </LinkTo>
  </div>

  <Ui::Card class="flex-auto">
    <<%= components %>::List @loading={{this.loading}}
      @<%= p %>={{this.<%= p %>}}
      @actions={{this.<%= s %>Actions}}
      @filtered={{this.filtered}}
      @size={{this.size}}
      @clearFilter={{this.clearFilter}} />
  </Ui::Card>

  <Ui::Card>
    <Ui::Pagination @name="bottom"
      @size={{this.size}}
      @page={{this.page}}
      @total={{this.meta.total}}
      @onChange={{this.paginateResults}} />
  </Ui::Card>

</section>

<Ui::Modal @name="export"
  @isShowing={{this.showExport}}
  @icon="download"
  @title={{t "<%= translations %>.list.actions.export.title"}}
  @button={{t "<%= translations %>.list.actions.export.button"}}
  @onConfirm={{this.export}}
  @onCancel={{this.toggleExport}}>
  <p>{{t "<%= translations %>.list.actions.export.text"}}</p>
</Ui::Modal>

<Ui::SlideOver @name="filter"
  @isShowing={{this.showFilter}}
  @onClose={{this.toggleFilter}}>
  <div class="px-6 py-3">
    <<%= components %>::Filter @filter={{this.filter}}
      @onFilter={{this.filterResults}}
      @onClear={{this.clearFilter}} />
  </div>
</Ui::SlideOver>