{{#if @route}}

  <Ui::Link
    class="relative w-full mb-2 group flex items-center p-2 pl-12 text-base xl:text-lg leading-6 font-medium text-black hover:text-gray-800 rounded-lg hover:bg-gray-100 focus:outline-none focus:text-black focus:bg-gray-200 transition ease-in-out duration-150"
    @activeClass="bg-gray-50"
    @inactiveClass="hover:bg-gray-100"
    @route={{@route}}
    @activeWhen={{@activeWhen}}
    @href={{@href}}
    ...attributes>
    {{#if @icon}}
      <Ui::SideNav::Icon @icon={{@icon}} />
    {{/if}}
    {{yield}}
  </Ui::Link>

{{else}}

  <div role="button"
    class="relative w-full mb-2 group flex items-center p-2 pl-12 text-base xl:text-lg leading-6 font-medium text-black hover:text-gray-800 rounded-lg hover:bg-gray-100 focus:outline-none focus:text-black focus:bg-gray-200 transition ease-in-out duration-150"
    {{on "click" @action}}
    ...attributes>
    {{#if @icon}}
      <Ui::SideNav::Icon @icon={{@icon}} />
    {{/if}}
    {{yield}}
  </div>

{{/if}}