{{#with (if @name @name (if @label (dasherize @label) true)) as |name|}}

  <div class="font-base text-black leading-5 px-2 py-4 border-b border-gray-100"
    data-test-data-item={{name}}
    ...attributes>
    {{#if @label}}
      <div class="font-black mb-2"
        data-test-data-item-label={{name}}>{{@label}}</div>
    {{/if}}

    <div class="font-light mb-2"
      data-test-data-item-value={{name}}>
      {{#if @loading}}

        <Ui::Skeleton::Word class="w-32" />

      {{else}}
        {{#if (has-block)}}
          {{yield}}
        {{else if @value}}
          {{@value}}
        {{else}}
          N/A
        {{/if}}
      {{/if}}
    </div>

    {{#if @tip}}
      <div class="font-light text-xs italic"
        data-test-data-item-tip={{name}}>{{@tip}}</div>
    {{/if}}
  </div>

{{/with}}