<heading class="flex flex-row text-black justify-between py-4 border-t border-b border-gray-300 mb-3">
  <h1 class="font-bold text-base leading-5">Filter <%= pUpper %></h1>
  {{svg-jar "filter" class="w-5 h-5"}}
</heading>

{{#with (changeset @filter this.validations) as |changeset|}}

  <Ui::Form class="space-y-6"
    @onSubmit={{fn @onFilter changeset}}
    @name="filter"
    as
    |form|>
    <%= items %>

    <form.Submit @name="filter"
      class="w-full">
      {{t "<%= s %>.filter.submit"}}
    </form.Submit>

    <form.Button @name="clear"
      class="w-full"
      {{on "click" @onClear}}>
      {{t "<%= s %>.filter.clear"}}
    </form.Button>

  </Ui::Form>

{{/with}}